@import "tailwindcss";

@theme {
  --color-bg: black;
  --color-card: #111214;
  --color-muted: #a1a1aa;
}

html, body, #app {
  height: 100%;
  background-color: var(--color-bg);
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

.text-muted { color: var(--color-muted); }
